################################################################################
# The source of the training images (relative path from main directory)
################################################################################
SOURCE=input/strebelle1000.png


################################################################################
# The training algorithm you want to use. Choices :
# - GRADIENT_PENALTY
# - WEIGHT_CLIPPING
################################################################################
ALGORITHM=GRADIENT_PENALTY

################################################################################
# The neural network model you want to train. Choices :
# - 2d_50x50
# - 2d_50x50_color
# - 2d_256x256
# - 2d_256x256_color
# - 3d_50x50x50
# - 3d_80x80x12
# - 2cuts_to_3d
# - 3cuts_to_3d
################################################################################
MODEL=2d_50x50

################################################################################
# 0 : silent mode
# 1: verbose mode
################################################################################
VERBOSE=1

################################################################################
# Activate snapshot of intermediate models.
# When equal to 1, the program will save the models and output a preview at each
# epoch.
# Previews are saved in the 'output' folder.
# Models are saved in the 'models' folder.
################################################################################
SNAPSHOT=1

################################################################################
# Number of epochs in the training.
# One epoch is one full pass over the training data set
################################################################################
NUMBER_OF_EPOCHS=128

################################################################################
# Size of the set of examples when sampling
# from a unigue large training image
################################################################################
EPOCH_SIZE=24000

################################################################################
# Batch size
################################################################################
BATCH_SIZE=32

################################################################################
# Number of training iteration of the critic network per iteration of the
# generator network.
################################################################################
N_CRITIC=6

################################################################################
# The fraction of GPU memory the programm will allocate
################################################################################
MEMORY_ALLOC=1

################################################################################
# Learning rate of the optimizer algorithm
# Smaller rates lead to slower but more stable trainings
################################################################################
LEARNING_RATE=0.00001

################################################################################
# Allow the program to run on multiple GPUs
################################################################################
MULTI_GPU=1
